body {
    margin: 0;
    background-color: rgb(236, 247, 247);
}

h2 {
    color: orange;
    margin-top: 20px;
    margin-left: 100px;
    align-items: center;
}

.regras {
    background-color: grey;
    color: rgb(247, 242, 250);
    align-items: center;
    display: block;
    width: 300px;
    margin-left: 100px;
    height: 150px;
    padding: auto;
    border: 1px solid black;
}


.main-game {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genius {
    display: grid;
    grid-template-areas: 'verde vermelho' 'amarelo azul';
    grid-gap: 10px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    border-radius: 100%;
    width: 700px;
    height: 700px;
}

.blue {
    grid-area: azul;
    background-color: rgb(7, 7, 223);
    border-bottom-right-radius: 100%;
}

.red {
    grid-area: vermelho;
    background-color: red;
    border-top-right-radius: 100%;
}

.yellow {
    grid-area: amarelo;
    background-color: yellow;
    border-bottom-left-radius: 100%;
}

.green {
    grid-area: verde;
    background-color: rgb(54, 196, 54);
    border-top-left-radius: 100%;
}

.selected {
    opacity: 0.4;
}

















